aiohttp==3.8.5
aiosignal==1.3.1
alabaster==0.7.13
aniso8601==9.0.1
annotated-types==0.5.0
apipkg==3.0.1
appdirs==1.4.4
application-utility==1.3.2
astroid==2.15.6
async-timeout==4.0.3
attrs==22.2.0
autocommand==2.2.2
Automat==22.10.0
Babel==2.12.1
bcrypt==4.0.1
beautifulsoup4==4.12.2
blinker==1.6.2
Brotli==1.1.0
btrfsutil==6.5.2
build==1.0.1
CacheControl==0.13.1
cachetools==5.3.1
certifi==2023.7.22
cffi==1.15.1
chardet==5.2.0
charset-normalizer==3.2.0
cheroot==9.0.0
CherryPy==18.8.0
click==8.1.7
colorama==0.4.6
constantly==15.1.0
contourpy==1.1.1
coverage==6.5.0
cryptography==41.0.4
cssselect==1.2.0
cycler==0.12.0
Cython==3.0.3
dbus-python==1.3.2
defusedxml==0.7.1
dill==0.3.7
distlib==0.3.7
distro==1.8.0
dnspython==2.4.2
docopt==0.6.2
docutils==0.20.1
elasticsearch==7.9.0
email-validator==2.0.0.post2
entrypoints==0.4
exceptiongroup==1.1.3
extras==1.0.0
fastjsonschema==2.18.1
filelock==3.12.4
fixtures==4.1.0
Flask==2.3.3
Flask-RESTful==0.3.9
fonttools==4.43.1
frozenlist==1.4.0
future==0.18.3
gmpy2==2.1.5
google-api-core==2.11.0
google-api-python-client==2.88.0
google-auth==2.19.0
google-auth-httplib2==0.1.0
googleapis-common-protos==1.60.0
greenlet==2.0.2
grpcio==1.58.1
httplib2==0.22.0
hyperlink==21.0.0
idna==3.4
imagesize==1.4.1
importlib-metadata==5.0.0
incremental==22.10.0
inflect==7.0.0
iniconfig==2.0.0
installer==0.7.0
isodate==0.6.1
isort==5.12.0
itsdangerous==2.1.2
jaraco.classes==3.3.0
jaraco.collections==3.5.2
jaraco.context==4.3.0
jaraco.functools==3.9.0
jaraco.text==3.11.1
jeepney==0.8.0
Jinja2==3.1.2
joblib==1.3.1
jsonschema==4.19.1
jsonschema-specifications==2023.7.1
keyring==24.2.0
keyutils==0.6
kiwisolver==1.4.5
lazy-object-proxy==1.9.0
lensfun==0.3.4
libfdt==1.7.0
libtorrent==2.0.9
libvirt-python==9.7.0
lit==16.0.6.dev0
lockfile==0.12.2
logutils==0.3.5
louis==3.27.0
lxml==4.9.2
Mako==1.2.4
manjaro-sdk==0.1.1
Markdown==3.5
MarkupSafe==2.1.3
matplotlib==3.8.0
mccabe==0.7.0
mock==3.0.5
moddb==0.9.0
more-itertools==10.1.0
mpmath==1.3.0
msgpack==1.0.5
multidict==6.0.4
mutagen==1.47.0
mypy==1.3.0
mypy-extensions==1.0.0
netsnmp-python==1.0a1
networkx==3.1
nftables==0.1
nicotine-plus==3.2.9
nose==1.3.7
npyscreen==4.10.5
nspektr==0.4.0
numpy==1.26.0
ordered-set==4.1.0
packaging==23.1
pacman-mirrors==4.23.2
pandas==1.5.3
pbr==5.11.1
pecan==1.4.2
Pillow==10.0.1
pkgconfig==1.5.5
platformdirs==3.10.0
pluggy==1.3.0
ply==3.11
pooch==1.7.0
portend==3.1.0
prettytable==3.8.0
prometheus-client==0.17.1
protobuf==4.24.3
psutil==5.9.5
psycopg2==2.9.7
py==1.11.1.dev0+g447bac51.d20230407
pyasn1==0.4.8
pyasn1-modules==0.2.8
pybind11==2.11.1
pycairo==1.24.0
pycodestyle==2.11.0
pycollada==0.7.2
pycparser==2.21
pycryptodomex==3.12.0
pydantic==2.3.0
pydantic_core==2.6.3
pyglet==2.0.8
Pygments==2.16.1
PyGObject==3.46.0
PyJWT==2.8.0
pylint==2.17.7
pyOpenSSL==23.2.0
pyparsing==3.1.1
pyproject_hooks==1.0.0
PyQt5==5.15.9
PyQt5-sip==12.12.2
pyrate-limiter==3.1.0
pyrsistent==0.19.3
pyserial==3.5
PySide6==6.5.3
pysmbc==1.0.25.1
pytest==7.4.2
pytest-cov==4.1.0
python-dateutil==2.8.2
pytz==2023.3.post1
PyYAML==6.0.1
referencing==0.30.2
reportlab==3.6.12
repoze.lru==0.7
requests==2.28.2
Routes==2.5.1
rpds-py==0.10.3
rsa==4.9
Rtree==1.0.1
scikit-learn==1.3.1
scipy==1.11.3
scour==0.38.2
SecretStorage==3.3.3
shapely==2.0.1
shiboken6==6.5.3
shiboken6-generator==6.5.3
six==1.16.0
smbus==1.1
snowballstemmer==2.2.0
soupsieve==2.5
Sphinx==7.2.6
sphinxcontrib-applehelp==1.0.7
sphinxcontrib-devhelp==1.0.5
sphinxcontrib-htmlhelp==2.0.4
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.6
sphinxcontrib-serializinghtml==1.1.9
sympy==1.12
systemd-python==235
TBB==0.2
tempora==5.2.2
testtools==2.6.0
threadpoolctl==3.2.0
toml==0.10.2
tomli==2.0.1
tomlkit==0.12.1
toolz==0.12.0
trimesh==3.23.5
trove-classifiers==2023.9.22
Twisted==22.10.0
typed-ast==1.5.4
typing_extensions==4.8.0
udiskie==2.4.2
uritemplate==4.1.1
urllib3==1.26.15
validate-pyproject==0.13.post1.dev0+gb752273.d20230520
virtualenv==20.24.5
waitress==2.1.2
wcwidth==0.2.8
WebOb==1.8.7
websockets==10.4
WebTest==3.0.0
Werkzeug==2.3.7
wrapt==1.14.1
xmlsec==1.3.13
yarl==1.9.2
yt-dlp==2023.10.7
zc.lockfile==3.0.post1
zipp==3.17.0
zope.interface==6.0
zstandard==0.21.0
