#=============================================#
#                                             #
#     Configuration des commandes clavier     #
#                                             #
#=============================================#


# Pour configurer une commande, suivre le format suivant:
# [KEY_1]/[KEY_2]/.../[KEY_n] action_string
# où les [KEY_x], sont les noms des clés décrit dans la documentation de glfw
# https://www.glfw.org/docs/3.3/input_guide.html
# et action_string est le nom de l'action qui résulte de la combinaison spécifiée
#
# A noter: les combinaisons de clés doivent être uniques, mais cela n'empèche pas d'avoir plusieurs
# combinaisons de clés qui effectuent la même action.

# En appuyant sur 'w', j'effectue l'action 'walk_forward'
w walk_forward

# En appuyant sur 'a', j'effectue l'action 'walk_left'
a walk_left

# En appuyant sur 's', j'effectue l'action 'walk_backward'
s walk_backward

# En appuyant sur 'd', j'effectue l'action 'walk_right'
d walk_right

# En appuyant sur 'espace', j'effectue l'action 'go_up'
space go_up

# En appuyant sur 'shift', j'effectue l'action 'go_down'
left_shift go_down 

# En appuyant sur 'q + !', j'effectue l'action 'quit_game'
q/! quit_game
